:root {
  --nav-color: #1e202b;
}

.navbar {
  background-color: #1e202b !important;
  padding: 50px !important;
}

.navbar .myContainer {
  width: 95%;
  margin: auto;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

nav .logo h1 {
  font-size: 35px;
  color: white;
}

.navbar .links ul {
  margin: 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row !important;
  padding: 0px;
}

.navbar .links ul li {
  padding: 4px 15px;
  border-radius: 40px;
  border: 2px solid #009ad8;
}

.navbar .links ul li a {
  color: white;
}

.navbar .colorMood {
  width: 250px;
}
.test {
  width: 250px;
}

@media (max-width: 900px) {
  .navbar {
    padding: 25px 0px !important;
  }
  .navbar .myContainer {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 25px;
  }
  .navbar .colorMood {
    display: none !important;
  }
}
